body{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  background: linear-gradient(
      to right,
      rgb(137, 226, 238),
      pink

  );
}
h1{
  text-align: center;
  margin: 0;
  position: sticky;
  font-size: 45px;
  

}

.feedback__ctn{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.input__container{
font-size: 30px;
font-weight: bolder;
text-align: center;
margin-top: 50px;
}

.input__container input{
  font-size: 22px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: rgb(130, 228, 195);
}

/* button control  */
.btn_ctn{
  margin-left: 650px;
  margin-top: 30px;
  font-size: 20px;
  background-color: aquamarine;
  font-weight: bolder;
  border-radius: 20px;
  padding: 10px 10px;
}

/* Submit control  */
.sumbit__container__ctn{

display: flex;
justify-content: space-around;
flex-wrap: wrap;
padding: 20px 20px;
}


/* submit data */
.submit__item{
background-color: cornflowerblue;
width: 350px;
border: 1px solid white;
border-radius: 20px;
text-align: center;
}

.item_data{
  font-size: larger;
  font-weight: bolder;
}